<h2 class="site-description animated fadeIn" itemprop="description">{{ page.title }}</h2>

<table style="width:100%">
  <tr>
    <td>Typ av ritning:</th>
    <td>{{ page.perspektiv }}</th>
  </tr>
  <tr>
    <td>Föreställande:</td>
    <td>{{ page.vy }}</td>
  </tr>
  <tr>
    <td>Ritningsnummer:</td>
    <td>{{ page.ritningsnummer }}</td>
  </tr>
  <tr>
    <td>Skala:</td>
    <td>1 : {{ page.scale}}</td>
  </tr>
  <tr>
    <td>Utskriftformat:</td>
    <td>{{ page.utskrift}}</td>
  </tr>
  <tr>
    <td>Filnamn:</td>
    <td>{{ page.drawing}}</td>
  </tr>
</table>

<p>Ritningen nedan är komprimerad både i storlek och kvaltiet. För att ladda hem
ritningen i fullt format kan du antingen:</p>
<p> 1. <a href="<a href="https://github.com/karttur/morkullan4/tree/gh-pages/ritningar/doc/full">Öppna arkivet som innehåller alla ritningar (på GitHub)</a>,</p>
<p> 2. klicka direkt på figuren, ritningen i fullt format kommer då upp på skärmen
och du kan dra den till skrivbordet,</p>
<p> 3. högerklicka på figuren (eller länken i nästa punkt) och sedan välja
"Spara länkad fil som .." ("Download Linked file As .."), eller liknande,</p>
<p> 4. Klicka på den här <a href="../doc/full/{{ site.data.images[page.drawing].file }}">
  länken till ritning i fullt format</a>, och sedan spara ritningen.</p>

<figure>
<a href="../doc/full/{{ site.data.images[page.drawing].file }}">
<img src="../doc/comp/{{ site.data.images[page.drawing].quicklook }}"></a>
</figure>
